@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950/10;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.px-section {
  @apply px-2 sm:px-10 lg:px-20;
}

.text-outline {
  -webkit-text-stroke: 1.5px #5c1313;
  color: white;
}

